body{
    font-family: 'Courier New', Courier, monospace;
    width: 700px;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

.button{
    font-size: 4vw;
    border-radius: 100%;
    padding: 50px;
}

.buttonContainer{
    display: flex;
    justify-content: center;

}

